<%= search_form_for @q, :class => collapse_search_form, :id => "articles_filters" do |f| %>
  <p class="lead">Narrow results:</p>

  <div class="form-group">
    <%= f.label :link_cont, "Link contains" %>
    <%= f.text_field :link_cont, :class => "form-control", :placeholder => "Link contains" %>
  </div>

  <div class="form-group">
    <%= f.label :estimated_reading_time_cont, "Estimated reading time contains" %>
    <%= f.text_field :estimated_reading_time_cont, :class => "form-control", :placeholder => "Estimated reading time contains" %>
  </div>

  <div class="form-group">
    <%= f.label :publication_cont, "Publication contains" %>
    <%= f.text_field :publication_cont, :class => "form-control", :placeholder => "Publication contains" %>
  </div>

  <div class="form-group">
    <%= f.label :uploader_review_cont, "Uploader review contains" %>
    <%= f.text_field :uploader_review_cont, :class => "form-control", :placeholder => "Uploader review contains" %>
  </div>

  <div class="form-group">
    <%= f.label :created_at, "Created at" %>
    <div class="row">
      <div class='col-md-6 mb-1'>
        <div class='input-group date' id='created_atgteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_gteq, :class => "form-control datetimepicker-input", :placeholder => "Created at greater than or equal to", :data => {:target => '#created_atgteqPicker'} %>
          <div class="input-group-append" data-target='#created_atgteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>

      <div class='col-md-6'>
        <div class='input-group date' id='created_atlteqPicker' data-target-input="nearest">
          <%= f.text_field :created_at_lteq, :class => "form-control datetimepicker-input", :placeholder => "Created at less than or equal to", :data => {:target => '#created_atlteqPicker'} %>
          <div class="input-group-append" data-target='#created_atlteqPicker' data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
      $(function () {
          $('#created_atgteqPicker').datetimepicker({
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atlteqPicker').datetimepicker({
              useCurrent: false,
              format: 'YYYY-MM-DD hh:mm:SS'
          });
          $('#created_atgteqPicker').on("dp.change", function (e) {
              $('#created_atlteqPicker').data("DateTimePicker").minDate(e.date);
          });
          $('#created_atlteqPicker').on("dp.change", function (e) {
              $('#created_atgteqPicker').data("DateTimePicker").maxDate(e.date);
          });
      });
  </script>


  <div class="form-group">
    <%= f.label :uploader_email_cont, "Uploader email contains" %>
    <%= f.text_field :uploader_email_cont, :class => "form-control", :placeholder => "Uploader email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :comments_comment_cont, "Comments comment contains" %>
    <%= f.text_field :comments_comment_cont, :class => "form-control", :placeholder => "Comments comment contains" %>
  </div>

  <div class="form-group">
    <%= f.label :tag_tag_cont, "Tag tag contains" %>
    <%= f.text_field :tag_tag_cont, :class => "form-control", :placeholder => "Tag tag contains" %>
  </div>

  <div class="form-group">
    <%= f.label :readers_email_cont, "Readers email contains" %>
    <%= f.text_field :readers_email_cont, :class => "form-control", :placeholder => "Readers email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :fan_readers_email_cont, "Fan readers email contains" %>
    <%= f.text_field :fan_readers_email_cont, :class => "form-control", :placeholder => "Fan readers email contains" %>
  </div>

  <div class="form-group">
    <%= f.label :favoriters_email_cont, "Favoriters email contains" %>
    <%= f.text_field :favoriters_email_cont, :class => "form-control", :placeholder => "Favoriters email contains" %>
  </div>


  <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

  <a href="/articles" class="btn btn-outline-secondary btn-block mb-1">Clear filters</a>

<% end %>

<a class="btn btn-outline-secondary btn-block mb-1" data-toggle="collapse" href="#articles_filters">
  Show filters
</a>
