<div class="card mb-3">
  <h2 class="card-header h4">
    Article #<%= article.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Link</dt>
      <dd><%= article.link %></dd>

      <dt>Uploader review</dt>
      <dd><%= article.uploader_review %></dd>

      <dt>Uploader</dt>
      <dd>
        <% if @article.uploader.present? %>
          <%= link_to article.uploader, article.uploader %>
        <% end %>
      </dd>

      <dt>Publication</dt>
      <dd><%= article.publication %></dd>

      <dt>Estimated reading time</dt>
      <dd><%= article.estimated_reading_time %></dd>

      <dt>Tag</dt>
      <dd>
        <% if @article.tag.present? %>
          <%= link_to article.tag, article.tag %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back article, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_article_url(article), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to article, method: :delete, data: { confirm: "Do you really want to delete this article?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(article.updated_at) %> ago
  </div>
</div>
