<% was_validated = tag.errors.any? %>

<%= form_with(model: tag, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% tag_class = "form-control" %>
    <% tag_was_invalid = tag.errors.include?(:tag) %>

    <% if was_validated %>
      <% if tag_was_invalid %>
        <% tag_class << " is-invalid" %>
      <% else %>
        <% tag_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :tag %>
    <%= f.text_field :tag, class: tag_class, placeholder: "Enter tag" %>
    <% if tag_was_invalid %>
      <% tag.errors.full_messages_for(:tag).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
